{% extends 'home/base.html' %}


{% block content %}

    <!-- Título  y tecnologías -->
<section class="py-5 text-center">
    <div class="container">
        <h1 class="display-4 font-weight-bold font-family-roboto">Python Backend | DBA SQL | Data Analyst</h1>
        <p class="lead">Bienvenido a mi portfolio</p>
        
        <!-- Iconos de tecnologías -->
        <div class="d-flex justify-content-center">
            <i class="fab fa-python icon" style="margin-left: 10px;"></i>
            <i class="fa-brands fa-docker" style="margin-left: 10px;"></i>
            <i class="fa-solid fa-database" style="margin-left: 10px;"></i>
            <i class="fa-solid fa-c" style="margin-left: 10px;"></i>
            <i class="fa-brands fa-golang" style="margin-left: 10px;"></i>
            <i class="fa-brands fa-linux" style="margin-left: 10px;"></i>
            <!-- Agrega más iconos aquí -->
        </div>
        
        </section>

<section class="py-5 text-center bg-light">
    <div class="container">
        <div class="border p-4 rounded">
            <h1>Perfil Profesional</h1>

            <p class="lead">
Soy un programador backend y analista de datos con experiencia en Python, SQL y Django REST
Framework, apasionado por la tecnología y el trabajo en sistemasoperativos
operativos basados en Linux.
           </p>

           <p> Mi enfoque está en entregar soluciones efectivas y de alta calidad para mis
clientes, con habilidades en gestión de bases de datos, diseño de arquitecturas y resolución de
problemas complejos.</p>

            <a href="{% url 'projects' %}" class="btn btn-django btn-lg mt-4 text-white">View Projects</a>
        </div>
    </div>
</section>


{% endblock %}
