{% extends 'home/base.html' %}


{% block content %}

    <!-- Título  y tecnologías -->
<section class="py-5 text-center">
    <div class="container">
        <h1 class="display-4 font-weight-bold font-family-montserrat">Python Backend | DBA SQL | SysAdmin | Data Analyst</h1>
        <p class="lead">Bienvenido a mi portfolio</p>
        
        <!-- Iconos de tecnologías -->
        <div class="d-flex justify-content-center">
            <i class="fab fa-python icon" style="margin-left: 10px;"></i>
            <i class="fa-brands fa-docker" style="margin-left: 10px;"></i>
            <i class="fa-solid fa-database" style="margin-left: 10px;"></i>
            <i class="fa-solid fa-c" style="margin-left: 10px;"></i>
            <i class="fa-brands fa-golang" style="margin-left: 10px;"></i>
            <i class="fa-brands fa-linux" style="margin-left: 10px;"></i>
            <!-- Agrega más iconos aquí -->
        </div>
        
        </section>

<section class="py-5 text-center bg-light">
    <div class="container">
        <div class="border p-4 rounded">
            <h1>Perfil Profesional</h1>

            <p class="lead">
 Mi experiencia en el mundo de la programación se remonta a 2001, cuando di 
 mis primeros pasos como estudiante en la Universidad Tecnológica Nacional. 
 A pesar de los desafíos que enfrenté durante la crisis del 2001, mi pasión 
 por la programación nunca menguó. Comencé mi travesía con C, pero fue en 2015 
 cuando descubrí Python, un lenguaje que no solo me atrajo, sino que se convirtió en mi favorito.

Desde entonces, he explorado diversas facetas de Python, incluyendo Django, 
Pandas, SQL y el fascinante mundo del web scraping. Me entusiasma especialmente 
la creación de pipelines para ETL y el desarrollo de robustas APIs REST. 
Recientemente, he ampliado mis horizontes al aprender Golang y adentrarme en 
la administración de sistemas Linux. Siempre estoy ansioso por enfrentar nuevos
desafíos en este emocionante viaje tecnológico. 
          </p>

           <p>Te invito a revisar mis proyectos. Entre ellos econtrarás
           ETL, desarrollo de bases de datos, apis y combinación de múltiples tecnologías</p>

            <a href="{% url 'projects' %}" class="btn btn-django btn-lg mt-4 text-white">Mis Proyectos</a>
        </div>
    </div>
</section>


{% endblock %}
