{% extends 'home/base.html' %}


{% block content %}

    <!-- Título  y tecnologías -->
<section class="py-5 text-center">
    <div class="container">
        <h1 class="display-4">Python Backend Dev</h1>
        <p class="lead">Welcome to my portfolio showcasing Python backend development projects.</p>
        
        <!-- Iconos de tecnologías -->
        <div class="d-flex justify-content-center">
            <i class="fab fa-python icon" style="margin-left: 10px;"></i>
            <i class="fa-brands fa-docker" style="margin-left: 10px;"></i>
            <i class="fa-solid fa-database" style="margin-left: 10px;"></i>
            <i class="fa-solid fa-c" style="margin-left: 10px;"></i>
            <i class="fa-brands fa-golang" style="margin-left: 10px;"></i>
            <i class="fa-brands fa-linux" style="margin-left: 10px;"></i>
            <!-- Agrega más iconos aquí -->
        </div>
        
        <a href="#projects" class="btn btn-django btn-lg mt-4">View Projects</a>
    </div>
</section>

{% endblock %}
