.grubvox-bg {
  background-color: #ffffff; /* Fondo blanco */
}

.grubvox-text {
  color: #333333; /* Texto negro */
}

.grubvox-card {
  background-color: #2c3e50; /* Azul oscuro */
  border-color: #3498db; /* Borde azul brillante */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
}

.grubvox-button {
  background-color: #3498db; /* Azul brillante */
  border-color: #3498db; /* Borde azul brillante */
  color: #ffffff; /* Texto blanco */
}

.grubvox-button:hover {
  background-color: #2980b9; /* Azul más oscuro al pasar el cursor */
  border-color: #2980b9; /* Borde más oscuro al pasar el cursor */
}

