{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">

    {% for media in media %}
       <div class="carousel-item active">
         <img src="{{ media.image.url }}" class="d-block w-100" alt="...">
       </div>
    {% endfor %}

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
  <div class="carousel-inner">

{% endblock %}
