{% extends 'home/base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="text-center mb-5 neon-text">
      <h1 class="display-4">Explora Mis Proyectos</h1>
      <p class="lead">Descubre una variedad de proyectos de desarrollo y tecnología.</p>
    </div>

    <div class="row">
      {% for project in projects %}
        <div class="col-md-4 mb-4">
          <div class="card custom-card border-0 shadow">
            {% if project.project_type == 'image' %}
              <img src="{{ project.media.image.url }}" class="card-img-top" alt="{{ project.title }}">
            {% elif project.project_type == 'video' %}
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ project.video_link }}" allowfullscreen></iframe>
              </div>
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ project.title }}</h5>
              <p class="card-text">{{ project.description }}</p>
              <a href="{% url 'project-details' project.id %}" class="btn custom-button">Ver proyecto</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
{% endblock %}
