{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<!-- Si el modelo es es de imagen -->
{% if media.0.media_type == 'image' %}

<div class="bg-success container">
<div class="card justify-content-center" style="width: 18rem;">
  <!-- Tarjeta de información de contenido del proyecto -->
  <div class="card-header text-success">
    {{ project.title }}
  </div>
  {% if project.github_link %}
    <div>
      <span>
        <img src="{% static 'svg/github.svg' %}" alt="GitHub Icon" width="30" height="30">
      </span>
      <span>
        <a href="{{ project.github_link }}" target="_blank">Ver en GitHub</a>
      </span>
    </div>
  {% endif %}

  <!-- Si el proyecto esta online -->
  {% if project.project_online %}
    <div>
      <span>
        <img src="{% static 'svg/web.svg' %}" alt="GitHub Icon" width="30" height="30">
      </span>
       <span>
        <a href="{{ project.project_online }}" target="_blank">Ver el proyecto desplegado</a>
      </span>
    </div>

  {% endif %}
  </div>

  <div class="bg-successrow justify-content-center">
    <div class="col-lg-8">
      <div class="card border-secondary">
        <div class="card-body">
          <div class="carousel slide" id="carouselExample" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% for media in media %}
                <div class="carousel-item active">
                  <img src="{{ media.image.url }}" class="d-block w-100" alt="..." >
                </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endif %}
</div>

<!-- Si el modelo contiene video -->
{% if media.0.media_type == 'video' %}


<div class="bg-success d-flex justify-content-center align-items-center vh-100">
  <div class="card border-rounded shadow">


  <div class="card-header text-success">
    {{ project.title }}
  </div>
  {% if project.github_link %}
    <div>
      <span>
        <img src="{% static 'svg/github.svg' %}" alt="GitHub Icon" width="30" height="30">
      </span>
      <span>
        <a href="{{ project.github_link }}" target="_blank">Ver en GitHub</a>
      </span>
    </div>
  {% endif %}

  <!-- Si el proyecto esta online -->
  {% if project.project_online %}
    <div>
      <span>
        <img src="{% static 'svg/web.svg' %}" alt="GitHub Icon" width="30" height="30">
      </span>
       <span>
        <a href="{{ project.project_online }}" target="_blank">Ver el proyecto desplegado</a>
      </span>
    </div>
  </div>

  {% endif %}



    <div class="card-body">
      <div class="card bg-primary text-white">
        <div class="card-header">
          <h2 class="card-title">{{ project.title }}</h2>
        </div>
        <div class="card-body">
          <div class="embed-responsive embed-responsive-16by9">
            {{ project.youtube_embed|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}


<div class="d-flex justify-content-center mt-3">
  <a href="{% url 'projects' %}" class="btn btn-success btn-lg">Volver a Proyectos</a>
</div>


{% endblock %}
